@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #312e81;
}
.contained-btn {
    background-color: #312e81;
    color: white;
    padding: 5px 20px ;
    height: 40px;
    text-transform: uppercase;
  }
  .pbtn{
    background-color: #d9f99d;
    color: black;
    font-weight: bolder;
  }

  
.file-input{
    border: none !important;
  }